/* Style inputs with type="text", select elements and textareas */
html, body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #c0c0c0;
	
}
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 8px; /* Rounded borders */
	box-sizing: border-box;
	/* Make sure that padding and width stays in place */
	margin-top: 1px; /* Add a top margin */
	margin-bottom: 17px; /* Bottom margin */
	resize: none6
		/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	height: 50px;
	width: 150px;
	border-radius: 8px;
	border: none;
	color: black;
	background: #ff7e57;
	border-color: #b06a99;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #b06a99;
}

/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	padding: 15px;
}