.grid-container{
	display: flex;
}
.grid{
	display: inline-table;
	width: 663px;
	margin: auto;
	text-align: center;
}
.grid-1{
	background-color: blue;
	height: 290px;
	margin-top: 2px !important;
	margin: 20px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
.grid-2{	
	background-color: blue;
	margin: 20px;
	height: 300px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
.read {
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border: none;
	color: black;
	background: #ff7e57;
	border-color: #b06a99;
	cursor: pointer;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
.read:hover {
	background-color: #356EA1;
	color: white;
}
.read1 {
	margin-top: 20%;
	outline: none;
}
.read2 {
	margin-top: 12%;
	outline: none;
}
.grid-3{
	border-radius: 5px;
	background-color: blue;
	height: 200px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
.grid-4{
	border-radius: 5px;
	background-color: blue;
	height: 200px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
.grid-5{
	border-radius: 5px;
	background-color: blue;
	height: 200px;
	margin: 20px;
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}