html{
	background-image: url("../images/bgr1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: medium;
	color: #c0c0c0;
	
}
.login {
	width: 600px;
	height: 500px;
	background-color: rgba(53,110,161,0.5) !important;
	border-radius: 6px;
	text-align: center;
	margin: auto;
	padding: 50px;
}

input[type=submit] {
	height: 50px;
	width: 180px;
	border-radius: 8px;
	border: none;
	color: black;
	background: #ff7e57;
	border-color: #b06a99;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #356EA1;
	color: white;
}

input[type=email], input[type=password], input[type=text], select, textarea {
	width: 300px; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 5px; /* Rounded borders */
	box-sizing: border-box;
	margin-top: 1px; /* Add a top margin */
	margin-bottom: 17px; /* Bottom margin */
	resize: none;
}

.footer{
	border-radius: 5px;
}
.floater {
	position: fixed;
}
p{
	font-size: 20px;
}

a {
	color: c0c0c0;
}
a:hover{
	color: blue;
}