@charset "ISO-8859-1";

html, body {
	height: 145%;
	margin: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #cfcfcf;
}

.title {
	width: 900px;
	height: 400px;
	color: white;
	text-align: center;
	padding-top: 10%;
	background-color: rgba(53, 110, 161, 0.5) !important;
	border-radius: 5px;
	padding-bottom: 0px;
	margin: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

p {
	margin-top: 0px;
	font-size: 30px;
}

.btnCreate {
	height: 50px;
	width: 200px;
	border: none;
	border-radius: 5px;
	background-color: #ff7e57;
	color: black;
	margin-top: 20px;
	margin-bottom: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.btnCreate:hover {
	background-color: #356EA1;
	color: white;
	cursor: pointer;
}

.footer {
	background-color: #202121;
	display: flex;
	position: relative;
}

.signin {
	width: 95%;
	display: inline-block;
	padding-top: 10px;
	text-align: right;
}

.signin a {
	color: white;
	margin-top: 2%;
	padding: 10px;
	text-decoration: none;
}

.signin a:hover {
	color: blue;
}

.page-1 {
	height: 50%;
	background-image: url("../images/blog.jpg");
	/*background-color: #2da4ad;*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-bottom: 0px;
}

.page-2 {
	height: 50%;
	overflow: hidden;
}

.terms {
	background-color: red;
	flex: 1;
}

.privacy {
	background-color: blue;
	flex: 1;
}

.page-3 {
	height: 50%;
	display: flex;
}

.bottom {
	align-content: center;
	text-align: center;
	position: relative;
}
.btn {
	border: none;
	width: 200px !important;
	margin: 0px !important;
}
.contactus {
	width: 30%;
	position: relative;
	background-color: #cfcfcf;
}
.aboutus {
	margin: auto;
	width: 50%;
}
.text {
	max-height: 90%;
	padding: 5%;
	padding-bottom: 0%;
}
.floater {
	position: fixed;
}
ul li {
	float: left;
	list-style: none;
	margin-left: 40px;
}